.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0 363px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 501px;
  height: 282px;
  margin: 38px auto 60px 258px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }
}